<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app"></div>
    <script src="./vue.js"></script>
    <script>
        var App={
            watch: {
            'num':function (newV,oldV) {
                console.log('num改变了')
                console.log('num改变啦'+ newV);
                console.log('num改变啦'+ oldV);
            },
            'hero':{
                deep:true,
                handler:function(newV,oldV){
                    console.log('hero改变了')
                }
              }
            },
            template:`
                <div>
                我是App
                <input type="text" v-model="text" @change="doChange"/>
                <button @click="num++">梗概num </button>
                <input type="text" v-model="num">
              
             <button @click="hero.name ='rose' ">更改hero</button>
             {{hero}}  
             </div>
            `,
            methods:{
                doChange:function(){
                    console.log(this.text);
                }
            },
            data:function () {
                return {
                    text: '',
                    num:1,
                    hero:{
                        name:'jack'
                    }
                }
            }
        }
        new Vue({
            el:'#app',
            render:c=>c(App)
        })
        
    </script>
</body>

</html>